@{
    ViewBag.Title = "Edit";
}
@model  PruebaWebBanco.Models.Sucursal

<h2>Edit</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.HiddenFor(model => model.iSucursal)
    @Html.LabelFor(model => model.xNombre)
    @Html.EditorFor(model => model.xNombre)<br />
    @Html.LabelFor(model => model.xDireccion)
    @Html.EditorFor(model => model.xDireccion)<br />

    <input type="submit" value="Update" />
}